name: Update

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */2 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  scrape:
    name: Scrape
    runs-on: ubuntu-latest
    timeout-minutes: 40
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 512
          swap-size-mb: 1024
          remove-dotnet: 'true'

      - id: checkout
        name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'
          cache: 'pipenv'

      - name: Install pipenv
        run: curl https://raw.githubusercontent.com/pypa/pipenv/master/get-pipenv.py | python
        shell: bash

      - id: install-python-dependencies
        name: Install Python dependencies
        run: pipenv sync
        shell: bash

      - name: Scrape feeds
        run: pipenv run python -m pipeline.scrape feeds
        shell: bash

      - name: Scrape adecks
        run: pipenv run python -m pipeline.scrape adecks
        shell: bash

      - name: Convert maps
        run: pipenv run python -m pipeline.convert maps
        shell: bash

      - name: Convert adecks
        run: pipenv run python -m pipeline.convert adecks
        shell: bash

      - name: Consolidate adecks
        run: pipenv run python -m pipeline.consolidate adecks
        shell: bash

      - name: Datestamp
        run: date > data/timestamp.txt
        shell: bash

      - name: Commit results
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "actions@github.com"
          git config pull.rebase false
          git status
          git pull origin $GITHUB_REF
          git add ./data
          git commit -m "Scrape" --author="palewire <palewire@users.noreply.github.com>" && git push || true
        shell: bash

      - id: git-pull-4
        name: Pull again
        run: git pull origin $GITHUB_REF

      - id: git-retry
        name: Retry
        run: git push || true
